*{
    color: white;
    background-color: black;
}
input{
    color: white;
}
h1{
    text-align: center;
}
.card{
    width: 30vw;
    position: absolute;
    top:10em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
}
.dbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}